$green: #90c322;
$black: black;
$border: #dedede;
$off-white: #f8f8f8;

$main-font-color: #555555;/*-----darkgrey-----*/
$head-font-color: black;

$main-font: "Roboto", sans-serif;
$content-font: "Roboto Slab", sans-serif;

