.app-form {
    @include content-text;
    @include container-border;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 240px;
    padding: 20px;
}

.add-form {
    @include content-text;
    @include container-border;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 100%;
    padding: 20px;
}

.text-area {
    width: 100%;
    height: 300px
}

.hidden-field {
    display: none;

}

.sort-form {
    @include content-text;
    @include container-border;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 200px;
    padding: 20px;
}