.recipe-container{
    width: 100%;
    height: auto;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.recipe-name {
    @include content-header;
    text-align: center;
}

.recipe-img {
    width: 80%;
    height: auto;
    display: block; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    @include container-border;
}

.recipe-content {
    @include content-text;
    text-align: center;
}

.recipe-btn {
    background-color: $off-white;
    color: $main-font-color;
    font:{
        family: $main-font;
        size: 18px;
        weight: 600;
    }
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
     box-sizing: border-box;
}

.recipe-btn:hover {
    background-color: $green;
    border: solid 2px $border;
}

.delete-btn {
    background-color: #ff3232;
    color: white;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
     transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.edit-btn {
    background-color: #4c4cff;
    color: white;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
     transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.edit-btn:hover {
    background-color: #1919ff;
}

.delete-btn:hover {
    background-color: #e50000;
}

