{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-sm-12">
        <p class ="add-header">Add A Recipe</p>
        <br>
        <form action="{{ url_for('insert_recipe') }}"method="post">
            <div class="add-form">
                <div>
                    <label for="name">Name</label>
                    <p><input type="text" name="name" required/></p>
                    <label for="img">Image</label>
                    <p><input type="url" name="img" required/></p>
                    <p class="detail-minor-data">Please Use A URL For The Image</p><br>
                    <label for="author">Author</label>
                    <p><input type="text" name="author" required/></p>
                    <label for="cuisine">Cuisine</label>
                    <p><input type="text" name="cuisine" required/></p>
                    <label for="date_added">Date Added</label>
                    <p><input type="date" name="date_added" required/></p>
                    <label for="time_taken">Cooking Time</label>
                    <p><input type="text" name="time_taken" required/></p>
                    <label for="desc">Description</label>
                    <p><input type="text" name="desc" required/></p>
                    <label for="ingredients">Ingredients</label>
                    <p><textarea class="form-control" type="text" name="ingredients" class="textarea" cols="40" rows="20" required/></textarea></p>
                    <label for="instructions">Instructions</label>
                    <p><textarea class="form-control" type="text" name="instructions" class="textarea" cols="40" rows="20" required/></textarea></p>
                    <label for="allergens">Allergens</label>
                    <p><textarea class="form-control" type="text" name="allergens" class="textarea" cols="40" rows="10" required/></textarea></p>
                    <p class="hidden-field"><input type="number" name="upvotes" value="1"/></p>
                    <p><input type="submit" value="Add"/></p>
                </div> 

            </div>
        </form>
        <br>
    </div>
</div>
{% endblock %}