<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookbook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" type="text/css">
    <script src="{{ url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid top-bar">
        <div class="row">
            <div class="col-sm-12">
                <h1>The CookBook App</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid logo-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-logo-holder img-fluid">
                    <img class="img-fluid mx-auto d-block" src="https://www.thelogomix.com/files/imagecache/v3-logo-detail/cookbook6-06.png"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid nav-bar">
        <div class="row ">
            <div class="col-sm-12">
                <nav class="navbar  justify-content-center">
                    <ul class="nav justify-content-center">
                        <li id="nav-list"><a class="n-link" href="{{ url_for('home')}}">Home</a></li>
                        <li id="nav-list"><a class="n-link" href="{{ url_for('addrecipe')}}">Add Recipe</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
</body>
</html>