{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-sm-12 col-md-6 ">
                <div class="recipe-container">
                    <img class="recipe-img" src="{{recipe.img}}">
                    <br>
                    <p class="recipe-name">{{recipe.name}}</p>
                    <p class="recipe-content">{{recipe.desc}}</p>
                    <br>
                    <span><a href="{{url_for('recipedetail', recipe_id=recipe._id)}}"><button class="recipe-btn">Details</button></a></span>
                    <span><button class="delete-btn"><i class="material-icons">delete</i></button></span>
                    <span><button class="edit-btn"><i class="material-icons">build</i></button></span>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}

