{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <br>
             <form action="{{ url_for('home') }}" class="sort-form" method="post">
                    <select name="sorting">
                      <option value="name">Name</option>
                      <option value="upvotes">Votes</option>
                    </select>
                    <p><input type="submit" value="Sort"/></p>
              </form>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-sm-12 col-md-4 ">
                <div class="recipe-container">
                    <a href="{{ url_for('recipedetail', recipe_id=recipe._id) }}"><img class="recipe-img" src="{{recipe.img}}"></a>
                    <br>
                    <p class="recipe-name">{{recipe.name}}</p>
                    <p class="recipe-content">{{recipe.desc}}</p>
                    <br>
                    <span><a href="{{url_for('recipedetail', recipe_id=recipe._id)}}"><button class="recipe-btn">Details</button></a></span>
                    <span><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"><button class="delete-btn"><i class="material-icons">delete</i></button></a></span>
                    <span><a href="{{url_for('editrecipe', recipe_id=recipe._id)}}"><button class="edit-btn"><i class="material-icons">build</i></button></a></span>
                </div>
            </div>
    
        {% endfor %}
    </div>    
</div>
{% endblock %}

