{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img class="detail-img" src="{{recipe.img}}">
            </div>
            <div class="col-sm-12 col-md-7">
                <p class="detail-header">{{recipe.name}}</p>
                <p class="detail-desc">{{recipe.desc}}</p>
                <div class="detail-minor-data">Author: {{recipe.author}}</div>
                <div class="detail-minor-data">Date Added: {{recipe.date_added}}</div><div class="detail-minor-data">Cuisine: {{recipe.cuisine}}</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-3 detail-border">
                <p class="detail-header">Ingredients:</p>
                 <p class="detail-desc">{{recipe.ingredients}}</p>
            <br>
            </div>
            <div class="col-sm-12 col-md-2">
                <p class="detail-align detail-header"><strong>Allergens:</strong></p>
                        <p class="detail-align detail-desc">{{recipe.allergens}}</p>
                <br>
                <p class="detail-align detail-header"><strong>Cooking Time:</strong></p>
                <p class="detail-align detail-desc">{{recipe.time_taken}}</p>
                <br>
                <div class="detail-align"><p class="upvote-txt"><strong>Votes:</strong> {{recipe.upvotes}}</p><form action="{{ url_for('upvote',recipe_id=recipe._id)}}" method="post"><button type="submit" class="upvote-btn"><i class="material-icons">thumb_up</i></button></form></div>
            <br>
            </div>
            <div class="col-sm-12 col-md-7 detail-border">
                <p class="detail-header">Instructions: </p>
                            <p class="detail-desc">{{recipe.instructions}}</p>
                            <br>
            </div>
        </div>
 <br>   
</div>

{% endblock %}